.container-fluid {
    background: #1e4769;
}
.card-scroll-area {
    overflow-x: auto;
    display: flex;
}
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 25px;
}
::-webkit-scrollbar-thumb {
    background-color: #f8f9fa;
    outline: 1px solid slategrey;
    border-radius: 25px; 
}