<div class="panel panel-default">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">jgriffith.proj</a>
        <span class="navbar-text">
            These are some sample projects.
        </span>
        <form class="form-inline">
            <input type="search" placeholder="Search" aria-label="Search" class="form-control mr-sm-2">
            <!--TODO: add regex filtering with Search box to filter projects based on matching ID, tech, keywords, titles, etc.-->
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search Projects</button>
        </form>
    </nav>
</div>
