<div class="card-header">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">jgriffith.proj</a>
        <span class="navbar-text">
            Here are some sample projects - they have been taken from class, work, and personal development.
        </span>
        <form class="form-inline">
            <input type="search" placeholder="Tag (ex. Angular):" aria-label="Search" class="form-control mr-sm-2">
            <!--TODO: add regex filtering with Search box to filter projects based on matching ID, tech, keywords, titles, etc.-->
            <!--TODO: update regex filter with type-ahead component-->
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search Projects</button>
        </form>
    </nav>
</div>