.card-body {
    min-height: 200px;
    min-width: 220px;
    margin-right: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    background: #f8f9fa;
    color: #202528;
}
.card-title {
  color: #202528;
}
a {
    cursor: pointer;
    color: whitesmoke !important;
}
p {
  min-height: 50px;
}