<!-- Injecting the project card's specialized navbar: -->
<app-project-navbar></app-project-navbar>
<app-project-list></app-project-list>

<!--TODO: abstract this content to Project Detail component-->
<!--TODO: once abstracted, inject with <app-project-detail></app-project-detail>-->
<ng-container *ngIf="show">
    <div class="card">
        <div class="card-header">
            <h3>{{ projects[0].projectName }}</h3>
            <p class="card-text">{{ projects[0].description }}</p>
        </div>
    </div>
</ng-container>